# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bbin/
bin/
obj/
api/bin/
api/obj/

# Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/

# OS files
.DS_Store
doc/

# Secrets Configuration
.env
.env.*
!.env.example
*service-account.json

