<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWG9-0K9m7iD14NKN5HiZnQvD9TNrRliQ</string>
	<key>GCM_SENDER_ID</key>
	<string>167075879563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentlanka</string>
	<key>PROJECT_ID</key>
	<string>rentlanka-6687a</string>
	<key>STORAGE_BUCKET</key>
	<string>rentlanka-6687a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167075879563:ios:07f28da896e12891dd528e</string>
</dict>
</plist>